<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <title>Expense Tracker</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div>
      <header>
        <nav>
          {{#if logged_in}}|
            <ul class="right hide-on-med-and-down">
            <li><a href="/profile" class="waves-effect waves-light btn"
                    id='profile'
                    type='submit'
                    name='action'>Profile</a></li></li>
            <li><a class="waves-effect waves-light btn"
                    id='logout'
                    type='submit'
                    name='action'>LogOut</a></li>
            </ul>
            {{else}}
            <ul class="right hide-on-med-and-down">
            <li><a href="/login"class="waves-effect waves-light btn"
                    id='login'
                    type='submit'
                    name='action'>LogIn</a></li></li>
          {{/if}}
        </nav>
        <div class='header-container teal lighten-2 z-depth-3'>
          <div class='banner white-text'>
            <h1><a href="/"><strong>Expense Tracker</strong></a></h1>
            <p>Track Your Spending!</p>
            <i class='material-icons medium'>trending_up</i><i
              class='material-icons medium'
            >analytics</i>
          </div>
        </div>

      </header>
      <main>
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
  <script
    src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
  ></script>
</html>