<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <title>Expense Tracker</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <header>
      <nav>
        <div class='nav-wrapper blue-grey darken-3'>
          {{#if logged_in}}
            <a href='/' class='brand-logo'>Expense Tracker</a>
            <a href='#' data-target='mobile-demo' class='sidenav-trigger'><i
                class='material-icons'
              >menu</i></a>
            <ul class='right hide-on-med-and-down'>
              <li><a href='/profile' id='profile' type='submit' name='action'><i
                    class='material-icons left'
                  >person_outline</i>Profile</a></li>
              <li><a id='logout' type='submit' name='action'><i
                    class='material-icons right'
                  >logout</i>Logout</a></li>
            </ul>
          {{else}}
            <a href='/' class='brand-logo'>Expense Tracker</a>
            <a href='#' data-target='mobile-demo' class='sidenav-trigger'><i
                class='material-icons'
              >menu</i></a>
            <ul class='right hide-on-med-and-down'>
              <li><a href='/login' id='login' type='submit' name='action'><i
                    class='material-icons right'
                  >login</i>Login</a></li>
            </ul>
          {{/if}}
        </div>
      </nav>
      <ul class='sidenav' id='mobile-demo'>
        {{#if logged_in}}
          <li><a href='/profile'>Profile</a></li>
          <li><a href='/logout'>Logout</a></li>
        {{else}}
          <li><a href='/login'>Login</a></li>
        {{/if}}
      </ul>
    </header>
    <main>
      {{{body}}}
    </main>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script src='/js/homepage.js'></script>
  </body>
</html>