<!-- Loop over each object in the projects array -->

<main>
  <section class='intro-section'>
    <div class="column">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="/images/ex-tracker.jpg" alt="expenseimage">
          <span class="card-title">Welcome!</span>
        </div>
        <div class="card-content">
          <p><strong>Expense Tracker will provide a user-friendly interface for logging
      expenses, categorizing them, and generating reports to help users
      understand their spending habits.</strong></p>
        </div>
      </div>
    </div>
  </div>
  </section>

</main>

<footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Expense Tracker</h5>
                    <p class="grey-text text-lighten-4">&copy; 2024 Expense Tracker. All rights reserved.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/travisfowlston/Expense-Tracker">Github</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/travisfowlston/Expense-Tracker/graphs/contributors">Contributors</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>