<!-- Loop over each object in the projects array -->

<main>
  <section class='intro-section'>
    <h2>Welcome to Expense Tracker</h2>
    <p>The Expense Tracker will provide a user-friendly interface for logging
      expenses, categorizing them, and generating reports to help users
      understand their spending habits.</p>
  </section>

</main>

<footer>
  <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
</footer>