<div class='container'>
  <div class='section'>
    <div class='row'>
      <form class='form login-form'>
        <div class='row'>
          <div class='input-field col s12'>
            <input
              placeholder='Enter Email'
              class='form-input'
              type='text'
              id='email-login'
            />
            <label class='blue-grey-text' for='email-login'>E-mail</label>
          </div>
          <div class='input-field col s12'>
            <input
              placeholder='Enter Password'
              id='password-login'
              type='password'
              class='form-input'
            />
            <label class='blue-grey-text' for='password-login'>Password</label>
          </div>
          <div class='col s12'>
            <button
              class='btn waves-effect waves-light blue-grey darken-1'
              type='submit'
            >Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class='container'>
  <div class='section'>
    <div class='row'>
      <form class='form signup-form'>
        <div class='row'>
          <div class='input-field col s12'>
            <input
              placeholder='Enter Name'
              class='form-input'
              type='text'
              id='name-signup'
            />
            <label class='blue-grey-text' for='name-signup'>Name:</label>
          </div>
          <div class='input-field col s12'>
            <input
              placeholder='Enter Email'
              id='email-signup'
              type='text'
              class='form-input'
            />
            <label class='blue-grey-text' for='email-signup'>Email</label>
          </div>
          <div class='input-field col s12'>
            <input
              placeholder='Enter Password'
              id='password-signup'
              type='password'
              class='form-input'
            />
            <label class='blue-grey-text' for='password-signup'>Password</label>
          </div>
          <div class='col s12'>
            <button
              class='btn waves-effect waves-light blue-grey darken-1'
              type='submit'
            >Signup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='./js/login.js'></script>