<div id='expenseContainer'>
  <h1>My Expense Profile</h1>
  <!-- Modal Trigger -->
  <a class='waves-effect waves-light btn-large modal-trigger' href='#modal1'>
    <i class='material-icons right'>analytics</i>
    Add New Report
  </a>
  <!-- Modal Structure -->
  <div id='modal1' class='modal'>
    <div class='modal-content'>
      <h4>Create New Expense Report</h4>
      <div class='input-field col s12'>
        <select>
          <option value='' disabled selected>Select Expense Category</option>
          <option value='1'>Groceries</option>
          <option value='2'>Gas</option>
          <option value='3'>Shopping</option>
          <option value='4'>Bills and Utilities</option>
          <option value='5'>Entertainment</option>
          <option value='6'>Travel</option>
        </select>
      </div>
      <div class='row'>
        <form class='col s12'>
          <div class='row'>
            <div class='input-field col s6'>
              <i class='material-icons prefix'>create</i>
              <input id='icon_prefix' type='text' class='validate' />
              <label for='icon_prefix'>Expense Label</label>
            </div>
            <div class='input-field col s6'>
              <i class='material-icons prefix'>attach_money</i>
              <input
                id='amount'
                type='number'
                step='0.01'
                value=''
                class='validate'
              />
              <label for='amount'>Amount</label>
            </div>
          </div>
        </form>
      </div>
      <div class='row'>
        <form class='col s12'>
          <div class='row'>
            <div class='input-field col s12'>
              <textarea id='textarea1' class='materialize-textarea'></textarea>
              <label for='textarea1'>Expense Description</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class='modal-footer'>
      <a
        href='#!'
        class='modal-close waves-effect waves-green btn-flat'
      >Close</a>
      <button
        type='submit'
        class='waves-effect waves-green btn-flat'
        id="createExpense"
      >Create</button>
    </div>
  </div>
<div>
  {{#if expenses}}
  {{#each expenses}} 
  <div class="card">
    <p>{{expense_name}}</p>
    <p>{{amount}}</p>
  </div>
  {{/each}}
{{/if}}
</div>

</div>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
></script>
<script src='./js/profile.js'></script>