:root {
  --bgcolor: #b0bec5;
}

body {
  background-color: var(--bgcolor);
}



.banner {
  padding: 40px;
  text-align: center;
}

header {
  margin-bottom: 40px;
}


.expensecontainer {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bordered {
  border: 1px solid #000000;
}

.brand-logo {
  margin-left: 2rem;
}