:root {
  --bgcolor: #b0bec5;
}

body {
  background-color: var(--bgcolor);
}

.header-container {
  padding: 20px;
}

.banner {
  padding: 40px;
  text-align: center;
}

header {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.news-list a {
  font-size: 24px; 
  text-decoration: underline;
}
.news-list li {
  padding-left: 20px; 
  margin-top: 10px;    
}






/* style me */
/* General Body Styles */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  } */
  
  /* Header Styles */
  /* header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  } */
  
  /* Navigation Styles */
  /* nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  } */
  
  /* nav a:hover {
    color: #dddddd;
  } */
  
  /* Button Styles */
  /* button.no-button {
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
  } */
  
  /* button.btn-primary {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  } */
  
  /* button.btn-primary:hover {
    background-color: #666;
  } */
  
  /* Form Styles */
  /* .form-group label {
    display: block;
    margin-bottom: 5px;
  } */
  
  /* .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  } */
  
  /* Footer Styles */
  /* footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
  } */
  
  /* Utility Classes */
  /* .row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  } */
  
  /* Responsive */
  /* @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } */
  